---
import Layout from '../../layouts/Layout.astro';
import { getEntry, getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const { slug } = Astro.params;
const post = await getEntry('blog', slug);

if (!post) {
  throw new Error(`Blog post not found for slug: ${slug}`);
}

const { Content } = await post.render();

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}
---

<Layout>
  <main class="content-container">
    <h1>{post.data.title}</h1>
    <p><em>{post.data.pubDate.toLocaleDateString()}</em></p>

    <p>{post.data.description}</p>

    <article>
      <Content />
    </article>
  </main>
</Layout>
