---
import Layout from '../layouts/Layout-no-tracking.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
  <Hero 
    title="OH NO!" 
    background="/images/index/wedding-hangover-hero-image.webp" 
  />
  <main>
    <div class="content-container">
        <div class="privacy-wrapper">
            <section>
                <h1>404 – Page Not Found</h1>
            </section>
            <section>
                <p>
                    Well this is just outright embarrassing. I don't know if it's more embarrassing for you or more embarrassing for us.
                </p>
            </section>
            <section>
                <p>  
                    You somehow navigated to a non-existent page. If you're certain that we should be embarrassed, then send us an email at <a href="mailto:weddingphotohangover@gmail.com?subject=You%20Should%20Be%20Embarrassed&body=This%20is%20embarrassing%20for%20you,%20please%20fix%20this.">weddingphotohangover@gmail.com</a>
                </p>
            </section>
            <section>
                <p>
                    If you think this is your mistake, and not ours... then hang your head and return to the homepage, like a coward. Something is wrong.
                </p>
            </section>
            <section>
                <a href="/">
                    Return to homepage
                </a>
            </section>
        </div>
    </div>
  </main>
</Layout>
