---
import Layout from '../layouts/Layout.astro'; // Adjust path if needed
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Hero from '../components/Hero.astro';

const blogPosts = await getCollection('blog');
---

<Layout>
  <main>
    <Hero 
      title="Blog Posts" 
      background="/images/blog/wph-blog-hero.webp" 
    />
    <div class ="content-container">
      <h1>Blog Posts</h1>
      <ul>
          {blogPosts.map((post: CollectionEntry<'blog'>) => (
              <li>
                  <a href={`/blog/${post.slug}/`}>{post.data.title}</a> — {post.data.pubDate.toLocaleDateString()}
              </li>
          ))}
      </ul>
    </div>
  </main>
</Layout>
