---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---
<Layout>
  <head slot="head">
    <title>Fan Love | Wedding Photo Hangover</title>
    <link rel="canonical" href="https://weddinghangover.com/fan-love" />
    <meta name="description" content="Don't just take our word for it — here's what people have said about the Wedding Photo Hangover Podcast." />

    <meta property="og:site_name" content="Wedding Photo Hangover - A Wedding Photography Podcast" />
    <meta property="og:title" content="Fan Love | Wedding Photo Hangover" />
    <meta property="og:description" content="Don't just take our word for it — here's what people have said about the Wedding Photo Hangover Podcast." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://weddinghangover.com/fan-love" />
    <meta property="og:image" content="/images/fan/fan.webp" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Fan Love | Wedding Photo Hangover" />
    <meta name="twitter:description" content="Don't just take our word for it — here's what people have said about the Wedding Photo Hangover Podcast." />
    <meta name="twitter:image" content="/images/fan/fan.webp" />
    <meta name="twitter:url" content="https://weddinghangover.com/fan-love" />

    <meta itemprop="name" content="Fan Love | Wedding Photo Hangover" />
    <meta itemprop="description" content="Don't just take our word for it — here's what people have said about the Wedding Photo Hangover Podcast." />
    <meta itemprop="url" content="https://weddinghangover.com/fan-love" />
    <meta itemprop="image" content="/images/fan/fan.webp" />
  </head>

  <main>
    <Hero 
      title="Our Fans Love Us More Than Bridesmaids Love Catching Bouquets" 
      background="/images/fan/fan.webp" 
    />

    <div class="content-container-2">
      <section>
        <p>
          We read all of the feedback left about our podcast, because we’re neurotic narcissists. We have problems.
          We could include the bad reviews here, but we aren’t doing that anymore.
          We thought it was funny, but we got feedback that potential listeners didn’t like it.
        </p>
        <br/>
        <p>
          So we changed the site, because we’re nothing if not whores for potential new listeners.
          Here are some really nice things people have said about us and one weird thing we couldn’t bring ourselves to delete.
          We’ll let you discover the weird thing on your own.
        </p>
      </section>
      <section>
        <h2>
            Reviews
        </h2>
      </section>
      <section>
        <blockquote>
          “Steve and Dustin are some of the funniest and most hardworking guys in the industry, and their podcast is so entertaining.”<br />
          <cite>— Ulices Del Toro, Wedding Photo Podcast</cite>
        </blockquote>
      </section>
      <section>
        <blockquote>
          “No one is cool enough to hang out with you.”<br />
          <cite>— Natalie Franke, HoneyBook and The Rising Tide Society</cite>
        </blockquote>
      </section>
      <section>
        <blockquote>
          “Every time I tell someone about this podcast it always ends up being like ‘I’m not really sure what happened in that hour but it was really fun...’”<br />
          <cite>— Ryan Welch, Freedom Edits</cite>
        </blockquote>
      </section>
      <section>
        <blockquote>
          “I love what you guys are doing. It’s like the perfect, perfect podcast.”<br />
          <cite>— Vanessa Joy, Vanessa Joy Photography</cite>
        </blockquote>
      </section>
      <section>
        <blockquote>
          “Remember in high school when you would go to a party and the next day you and all your friends would sit around and talk about what happened at the party from the night before and sitting around talking about the party was often times more fun than the actual party itself? That’s exactly what it’s like listening to the Wedding Photo Hangover Podcast.”<br />
          <cite>— Raymond Hatfield, Beginner Photography Podcast</cite>
        </blockquote>
      </section>
      <section>
        <blockquote>
          “I’ve tried listening to some of these recommendations I got for photography related podcasts and I haven’t liked any of them consistently. Hopefully one of these that I haven’t gotten around to checking out will be better!”<br />
          <cite>— India Earl, India Earl Education</cite>
        </blockquote>
      </section>
      <section>
        <blockquote>
          “Literally the best comic relief for photographers”<br />
          <cite>— Kenzie McMullen, Apple Podcasts Review</cite>
        </blockquote>
      </section>
      <section>
        <blockquote>
          “I feel like I’ve stepped into some other dimension. The German rave music, crispy mattress’, unsure if they are actually stoating drunk or not? I love it and I’m not even finished yet.”<br />
          <cite>— Louise Malcolm, Facebook Comment</cite>
        </blockquote>
      </section>
    </div>
  </main>
</Layout>
