---
// No props needed for now
---

<footer class="bg-gray-100 p-4 mt-10 text-center">
  <ul class="flex justify-center gap-6 text-sm">
    <li><a href="https://www.facebook.com/WeddingPhotoHangover/" target="_blank">Facebook</a></li>
    <li><a href="http://instagram.com/weddingphotohangover" target="_blank">Instagram</a></li>
    <li><a href="https://www.tiktok.com/@weddingphotohangover" target="_blank">TikTok</a></li>
    <li><a href="https://www.youtube.com/channel/UCdMqr4HWdKLAEevkr3XLYVA" target="_blank">YouTube</a></li>
    <li><a href="https://mastodon.cloud/@weddinghangover" rel="me" target="_blank">Mastodon</a></li>
  </ul>
</footer>