---
// You can put props here later if needed
---

<header>
  <div class="logo-container">
    <a href="/">
      <img src="/images/header/WPH_CleanNB_LOGO.webp" alt="Wedding Photo Hangover Logo" />
    </a>
  </div>
  <nav>
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/episodes">Podcast</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/why">About</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </nav>
</header>
