---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Cookiebanner from '../components/Cookiebanner.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/images/global/favicon.ico" />
		<link rel="preload" href="/fonts/Montserrat-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
		<link rel="preload" href="/fonts/EBGaramond-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" type="application/rss+xml" title="Wedding Photo Hangover Blog" href="/blog/rss.xml" />
		<link rel="alternate" type="application/rss+xml" title="Wedding Photo Hangover Podcast" href="/episodes/rss.xml" />
		<slot name="head" />
	</head>
	<body>
		<Header />
		<Cookiebanner />
		<slot />
		<Footer />
		<script src="/js/headerScroll.js" defer></script>
		<script src="/js/cookieBanner.js" defer></script>
		<script src="/js/script.js" defer></script>
	</body>
</html>
