---
import Layout from '../../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

const { params } = Astro;
const currentPage = parseInt(params.page || '1');
const postsPerPage = 5;

const allEpisodes = await getCollection('episodes');
const totalPages = Math.ceil(allEpisodes.length / postsPerPage);

const start = (currentPage - 1) * postsPerPage;
const paginatedEpisodes = allEpisodes.slice(start, start + postsPerPage);
---
<Layout title="Episodes">
  <ul>
    {paginatedEpisodes.map(post => (
      <li><a href={`/episodes/${post.slug}/`}>{post.data.title}</a></li>
    ))}
  </ul>

  <nav>
    {currentPage > 1 && <a href={`/episodes/page/${currentPage - 1}`}>Previous</a>}
    {currentPage < totalPages && <a href={`/episodes/page/${currentPage + 1}`}>Next</a>}
  </nav>
</Layout>
